.hero_section {
  height: 40vh;
  min-height: 400px;
  position: relative;
  background: url(../../assets/products/home.jpg) bottom/cover no-repeat;
  background-attachment: fixed;
}
.hero_section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero_dis {
  width: fit-content;
  background: none;
  text-align: center;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.hero_dis_navigate a,
.hero_dis_navigate {
  font-size: calc(var(--body_text) * 1.2);
  color: var(--white_color);
  color: #e3e0e0;
}
.hero_dis h4 {
  margin-bottom: 0.5em;
  font-size: var(--primary_header);
  color: var(--white_color);
}
